@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-image:
    url("../assets/osso.svg"),
    linear-gradient(
      168deg,
      rgba(202, 187, 233, 1) 11%,
      rgba(255, 206, 243, 1) 41%,
      rgba(253, 253, 253, 1) 100%
    );
  background-repeat: repeat, no-repeat;
  background-size:
    150px auto,
    cover;
  background-position:
    0 0,
    0 0;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #292b2e;
}
body::-webkit-scrollbar-thumb {
  background-color: #171a1d;
  border-radius: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cabbe9;
  border-bottom: #c0a4f8 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  z-index: 1000;
}

.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 80px;
  height: auto;
  margin-top: 8px;
}

.navbar #menu-icon {
  font-size: 36px;
  color: #8e73e4;
  cursor: pointer;
  display: none;
  margin-left: auto;
}

.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}
.navbar ul li:hover a {
  color: #8e73e4;
}
.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: #b9a7f5;
  color: #fff;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.4s ease;
  box-shadow: #a387ff 0px 2px 8px;
}
.hire-btn:hover {
  background: #876ddd;
  color: #fff;
}

.seprator {
  margin: 120px 50px 30px;
  padding: 10px 20px;
  background: rgba(185, 167, 245, 0.5);
  display: inline-block;
  color: #3d2b63;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 0 50px;
  gap: 50px;
  margin-bottom: 0;
}

.contact-left {
  text-align: justify;
  background: rgba(185, 167, 245, 0.5);
  border-radius: 12px;
  padding: 30px;
  align-self: center;
  flex: 1;
  height: fit-content;
  max-width: 600px;
}

.contact-right {
  display: flex;
  align-items: flex-end;
}

.contact-right img {
  width: 100%;
  max-width: 900px;
  display: block;
  margin-bottom: -150px;
}

.contact-left h3 {
  color: #775ada;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 15px;
}

.contact-left p {
  color: #3d2b63;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info-item a {
  text-decoration: none;
}

.contact-info-item i {
  font-size: 28px;
  color: #fff;
  margin-right: 15px;
  background: #8e73e4;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.contact-info-item h4 {
  color: #3d2b63;
  font-size: 16px;
}

.contact-info-item p {
  margin-bottom: 0;
  color: #775ada;
}

footer {
  position: relative;
  background: #251842;
  padding: 80px 50px 40px;
  margin-top: 100px;
}

footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #8e73e4;
  color: #fff;
  padding: 30px 25px;
  border-radius: 15px;
  width: 70%;
  top: -16%;
  left: 15%;
}

footer .start p {
  font-size: 13px;
  width: 35%;
  color: #fff;
}
footer .start button {
  background: #3d2b63;
  border: 1px solid #3d2b63;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.4s ease;
  box-shadow: #251842 0px 2px 10px;
}
footer .start button:hover {
  color: #fff;
  background-color: #e06c9f;
  border-color: #e06c9f;
}

footer .cols {
  display: flex;
  align-items: start;
}
footer .cols .about-col {
  flex: 3;
}
footer .cols .about-col h3 {
  color: #8e73e4;
  margin-bottom: 20px;
}
footer .cols .about-col p {
  color: #ccc;
  font-size: 13px;
}

footer .cols .links-col {
  flex: 3;
}
footer .cols .links-col h4,
footer .cols .news-col h4 {
  color: #fff;
  margin-bottom: 20px;
}
footer .cols .links-col a {
  display: block;
  text-decoration: none;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 26px;
  transition: color 0.3s ease;
}
footer .cols .links-col a:hover {
  color: #8e73e4;
}

footer .cols .news-col {
  flex: 3;
}
footer .cols .news-col p {
  color: #7b7b7b;
  font-size: 15px;
}
footer .cols .news-col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
footer .direitos {
  margin-top: 30px;
  text-align: center;
  color: #7b7b7b;
  font-size: 12px;
}

@media screen and (max-width: 1100px) {
  footer {
    margin-top: 150px;
  }
  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }
  footer .cols {
    flex-wrap: wrap;
  }
  footer .cols .about-col,
  footer .cols .links-col,
  footer .cols .news-col {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 850px) {
  .contact-container {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .contact-left {
    margin: 20px;
    width: calc(100% - 40px);
  }

  .contact-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
  }

  .contact-right img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    display: block;
  }

  .seprator {
    margin-left: 5%;
    margin-top: 100px;
  }

  footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 780px) {
  .navbar button {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
  }
  .navbar ul li a {
    font-size: 16px;
    display: block;
    margin: 0;
  }
  .navbar #menu-icon {
    color: #8e73e4;
    display: block;
  }
  .navbar ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: #8e73e4;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #775ada;
  }
  .navbar ul li a {
    margin: 0;
  }
  .navbar ul li a:hover {
    color: #3d2b63;
  }
  .navbar ul.active {
    display: flex;
  }

  footer .cols {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .cols .about-col,
  footer .cols .links-col,
  footer .cols .news-col {
    flex-basis: 100%;
    width: 100%;
  }
  footer .cols .about-col h3,
  footer .cols .links-col h4,
  footer .cols .news-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  footer .start {
    top: -8%;
  }
  footer .start p {
    display: none;
  }
}
